#full-calendar {
    padding-top: 30px;
  }
  
  #calendar h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 35px;
  }
  
  #calendar .fc-day-header {
    text-transform: uppercase;
    font-weight: 400;
  }
  
  #external-events {
    padding-top: 50px;
  }
  
  #external-events .fc-event {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: all-scroll;
    border: none;
  }
  
  .fc button {
    background: #fff;
  }
  
  .fc td {
    border-width: 0 !important;
  }
  
  .fc th {
    border-width: 0 !important;
  }
  
  .fc-state-active {
    color: #29b6f6 !important;
  }
  
  .fc-state-down {
    color: #29b6f6 !important;
  }
  