#site-layout-example-left {
    background-color: #90a4ae;
    height: 300px;
  }
  
  #site-layout-example-right {
    background-color: #00bfa5;
    height: 300px;
  }
  
  #site-layout-example-top {
    background-color: #FF5252;
    height: 50px;
  }
  
  .flat-text-header {
    height: 35px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    margin: 27px auto;
  }
  
  .flat-text {
    height: 25px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    margin: 27px auto;
  }
  
  .flat-text.small {
    width: 25%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .flat-text.full-width {
    width: 100%;
  }
  
  .col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: #ff6347;
    color: #fff;
    padding: 0;
  }
  
  .col.grid-example span {
    font-weight: 200;
    line-height: 50px;
  }
  
  .waves-color-demo .collection-item {
    height: 57px;
    line-height: 57px;
  }
  
  .collection a.collection-item:not(.active):hover {
    background-color: #f9f9f9;
  }
  
  /*----------------------------------------
      Chrome Browser Grid Example
  ------------------------------------------*/
  .browser-window {
    text-align: left;
    width: 100%;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 5px 5px 2px 2px;
    -moz-border-radius: 5px 5px 2px 2px;
    border-radius: 5px 5px 2px 2px;
    background-clip: padding-box;
    background-color: transparent;
    margin: 20px 0;
    overflow: hidden;
  }
  
  .browser-window .top-bar {
    height: 30px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-clip: padding-box;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #ddd;
    background: linear-gradient(#e7e7e6, #e0e0e0);
  }
  
  .browser-window .circle {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #fff;
    margin-right: 1px;
  }
  
  .browser-window .circles {
    margin: 5px 12px;
  }
  
  .browser-window .content {
    margin: 0;
    width: 100%;
    display: inline-block;
    border-radius: 0 0 5px 5px;
    background-color: #fafafa;
  }
  
  .browser-window .row {
    margin: 0;
  }
  
  #close-circle {
    background-color: #ff5c5a;
  }
  
  #minimize-circle {
    background-color: #fdb45c;
  }
  
  #maximize-circle {
    background-color: #1bc656;
  }
  
  .clear {
    clear: both;
  }
  
  .promo i {
    color: #ee6e73;
    font-size: 6rem;
    display: block;
  }
  
  .promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
  }